<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <File name = "LogFile" fileName = "logs/application.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name= "dao.impl.ArtistDAOImpl" level="debug" additivity="true">
            <AppenderRef ref="LogFile"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>


</Configuration>